#pathway #pathway-widget {
  /* remember to define focus styles! */
  /* tables still need 'cellspacing="0"' in the markup */ }
  #pathway #pathway-widget div, #pathway #pathway-widget span, #pathway #pathway-widget applet, #pathway #pathway-widget object, #pathway #pathway-widget iframe,
  #pathway #pathway-widget h1, #pathway #pathway-widget h2, #pathway #pathway-widget h3, #pathway #pathway-widget h4, #pathway #pathway-widget h5, #pathway #pathway-widget h6, #pathway #pathway-widget p, #pathway #pathway-widget blockquote, #pathway #pathway-widget pre,
  #pathway #pathway-widget a, #pathway #pathway-widget abbr, #pathway #pathway-widget acronym, #pathway #pathway-widget address, #pathway #pathway-widget big, #pathway #pathway-widget cite, #pathway #pathway-widget code,
  #pathway #pathway-widget del, #pathway #pathway-widget dfn, #pathway #pathway-widget em, #pathway #pathway-widget font, #pathway #pathway-widget img, #pathway #pathway-widget ins, #pathway #pathway-widget kbd, #pathway #pathway-widget q, #pathway #pathway-widget s, #pathway #pathway-widget samp,
  #pathway #pathway-widget small, #pathway #pathway-widget strike, #pathway #pathway-widget strong, #pathway #pathway-widget sub, #pathway #pathway-widget sup, #pathway #pathway-widget tt, #pathway #pathway-widget var,
  #pathway #pathway-widget dl, #pathway #pathway-widget dt, #pathway #pathway-widget dd, #pathway #pathway-widget ol, #pathway #pathway-widget ul, #pathway #pathway-widget li,
  #pathway #pathway-widget fieldset, #pathway #pathway-widget form, #pathway #pathway-widget label, #pathway #pathway-widget legend,
  #pathway #pathway-widget table, #pathway #pathway-widget caption, #pathway #pathway-widget tbody, #pathway #pathway-widget tfoot, #pathway #pathway-widget thead, #pathway #pathway-widget tr, #pathway #pathway-widget th, #pathway #pathway-widget td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline; }
  #pathway #pathway-widget :focus {
    outline: 0; }
  #pathway #pathway-widget body {
    line-height: 1;
    color: black;
    background: white; }
  #pathway #pathway-widget ol, #pathway #pathway-widget ul {
    list-style: none; }
  #pathway #pathway-widget table {
    border-collapse: separate;
    border-spacing: 0; }
  #pathway #pathway-widget caption, #pathway #pathway-widget th, #pathway #pathway-widget td {
    text-align: left;
    font-weight: normal; }
  #pathway #pathway-widget blockquote:before, #pathway #pathway-widget blockquote:after,
  #pathway #pathway-widget q:before, #pathway #pathway-widget q:after {
    content: ""; }
  #pathway #pathway-widget blockquote, #pathway #pathway-widget q {
    quotes: "" ""; }

/* tooltip related and any other html styling goes here. styles to control pathway diagram svg with its native attributes treated as variables in head of pathway.js and called inline. */
html, body {
  height: 100%; }

div.container_12 {
  padding-top: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0; }

.grid_10 {
  margin-left: 0;
  margin-right: 0; }

.container_12 .grid_10 {
  width: 100%; }

#lists_links {
  max-width: none; }

#pathway {
  font-family: "Lucida Grande", Geneva, Lucida, Helvetica, Arial, sans-serif;
  font-size: 13px; }

#pathway #pathway-widget {
  /* end #diagram-and-ancillary #diagram-controls */
  /* end #pathway-expression-table nesting */
  /* Split pane styling */
  box-sizing: border-box; }
  #pathway #pathway-widget select {
    padding: .5rem; }
  #pathway #pathway-widget #pathway-svg {
    margin: 0 auto;
    display: block;
    padding: 0 2em; }
  #pathway #pathway-widget svg .reaction {
    cursor: pointer; }
  #pathway #pathway-widget .highlighter:hover,
  #pathway #pathway-widget .highlighted,
  #pathway #pathway-widget .clicked {
    color: #f66 !important;
    fill: #f66 !important; }
  #pathway #pathway-widget #group-tip {
    border: 1px solid #ccc;
    border-radius: 5px;
    background: white;
    padding: 0.5rem 1rem;
    font-size: .85rem;
    z-index: 1000;
    position: absolute; }
  #pathway #pathway-widget #group-menu {
    border: 1px solid #ccc;
    border-radius: 5px;
    background: white;
    padding: 0.5rem 1rem;
    font-size: .85rem;
    z-index: 1000;
    position: absolute; }
  #pathway #pathway-widget .no-display {
    display: none; }
  #pathway #pathway-widget #pathway-diagram {
    padding-bottom: 3rem;
    width: 100%; }
  #pathway #pathway-widget #diagram-and-ancillary {
    position: relative; }
  #pathway #pathway-widget #diagram-and-ancillary .controls {
    position: absolute;
    top: 0.5rem; }
    #pathway #pathway-widget #diagram-and-ancillary .controls button {
      padding: 0;
      border: 1px solid #ccc;
      border-radius: 5px;
      background: #fff; }
  #pathway #pathway-widget #diagram-and-ancillary #bar-graph-controls {
    right: 0.5rem;
    z-index: 999; }
    #pathway #pathway-widget #diagram-and-ancillary #bar-graph-controls button {
      float: right;
      margin-left: 0.5rem; }
    #pathway #pathway-widget #diagram-and-ancillary #bar-graph-controls button#get-info {
      padding: .3rem .5rem .4rem; }
  #pathway #pathway-widget #diagram-and-ancillary #diagram-controls {
    left: .5rem;
    z-index: 1000; }
    #pathway #pathway-widget #diagram-and-ancillary #diagram-controls button {
      float: left;
      margin-right: .5rem; }
    #pathway #pathway-widget #diagram-and-ancillary #diagram-controls button#save {
      padding: .3rem .5rem .4rem; }
    #pathway #pathway-widget #diagram-and-ancillary #diagram-controls #zoom-in svg,
    #pathway #pathway-widget #diagram-and-ancillary #diagram-controls #zoom-out svg {
      fill: #222;
      width: 22px;
      height: 22px; }
  #pathway #pathway-widget #pathway-expression-table {
    margin: 1rem 0;
    position: relative;
    /*td.coeff-var {
      text-shadow: #000 .2px .2px;
    }*/ }
    #pathway #pathway-widget #pathway-expression-table h3 {
      font-size: 1.15rem;
      margin: 1rem 0 .5rem; }
    #pathway #pathway-widget #pathway-expression-table h3,
    #pathway #pathway-widget #pathway-expression-table th {
      font-weight: 600; }
    #pathway #pathway-widget #pathway-expression-table label {
      font-size: 1.25em; }
    #pathway #pathway-widget #pathway-expression-table table {
      /*position:relative*/
      overflow: auto;
      margin: 1rem 0 1rem 195px;
      border-collapse: collapse;
      padding-bottom: 1rem; }
    #pathway #pathway-widget #pathway-expression-table table,
    #pathway #pathway-widget #pathway-expression-table tbody,
    #pathway #pathway-widget #pathway-expression-table th,
    #pathway #pathway-widget #pathway-expression-table tr {
      vertical-align: middle; }
    #pathway #pathway-widget #pathway-expression-table th.coeff-var,
    #pathway #pathway-widget #pathway-expression-table th.condition,
    #pathway #pathway-widget #pathway-expression-table td {
      vertical-align: top; }
    #pathway #pathway-widget #pathway-expression-table th.coeff-var {
      cursor: help; }
    #pathway #pathway-widget #pathway-expression-table th,
    #pathway #pathway-widget #pathway-expression-table td {
      text-align: center;
      /*border: 1px solid #ccc;*/
      box-sizing: border-box;
      padding: .3rem;
      min-width: 7rem;
      max-width: 10rem; }
    #pathway #pathway-widget #pathway-expression-table .gene,
    #pathway #pathway-widget #pathway-expression-table .ec {
      text-align: left;
      position: absolute;
      top: auto;
      cursor: pointer;
      min-width: 0;
      /* otherwise mouseover bleeds into right adjacent expression result */ }
    #pathway #pathway-widget #pathway-expression-table .gene {
      left: 75px;
      width: 120px; }
    #pathway #pathway-widget #pathway-expression-table .ec {
      left: 0;
      width: 75px; }
    #pathway #pathway-widget #pathway-expression-table .condition {
      cursor: pointer; }
  #pathway #pathway-widget .split {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: auto; }
  #pathway #pathway-widget .content {
    border: 1px solid #C0C0C0;
    box-shadow: inset 0 1px 2px #e4e4e4;
    background-color: #fff; }
  #pathway #pathway-widget .gutter {
    background-color: transparent;
    box-shadow: inset 0px 0px 10px #dedede;
    background-repeat: no-repeat;
    background-position: 50%; }
  #pathway #pathway-widget .gutter.gutter-horizontal {
    cursor: col-resize;
    /*background-image: url('../grips/vertical.png');*/ }
  #pathway #pathway-widget .gutter.gutter-vertical {
    cursor: row-resize;
    /*background-image: url('../grips/horizontal.png');*/ }
  #pathway #pathway-widget .split.split-horizontal, #pathway #pathway-widget .gutter.gutter-horizontal {
    height: 100%;
    float: left; }
  #pathway #pathway-widget .initial-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
    #pathway #pathway-widget .initial-info .flexed {
      max-width: 40rem;
      margin: 0 2rem; }
    #pathway #pathway-widget .initial-info h3 {
      font-size: 1.15rem;
      font-weight: bold; }
    #pathway #pathway-widget .initial-info h4 {
      font-size: 1rem; }
    #pathway #pathway-widget .initial-info h3, #pathway #pathway-widget .initial-info h4 {
      margin: 1.25rem 0 .5rem; }
    #pathway #pathway-widget .initial-info li {
      list-style-type: circle;
      margin: .25rem 0 .25rem 1rem; }

/* end #pathway #pathway-widget nesting */
#tooltip-container {
  font-family: "Lucida Grande", Geneva, Lucida, Helvetica, Arial, sans-serif;
  color: #333; }

#tooltip-container {
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: .85rem; }

#tooltip-container:before,
#tooltip-container:after {
  top: 100%;
  left: 50px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

#tooltip-container:before {
  border-color: transparent;
  border-top-color: #b9b9b9;
  border-width: 11px;
  margin-left: -11px; }

#tooltip-container:after {
  border-color: transparent;
  border-top-color: #fff;
  border-width: 10px;
  margin-left: -10px; }

#dismiss-text {
  font-size: 85%;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #ccc;
  padding: 4px 6px;
  top: -10px;
  right: -10px;
  cursor: pointer;
  color: #d66; }

.d3-context-menu {
  /* courtesy Patrick Gillespie, https://github.com/patorjk/d3-context-menu. MIT license in d3-context-menu.js */
  position: absolute;
  display: none;
  font-size: 12px;
  background-color: #fff;
  border-radius: 4px;
  min-width: 150px;
  border: 1px solid #ccc;
  z-index: 1200; }
  .d3-context-menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: default; }
  .d3-context-menu > ul > li {
    padding: 4px 16px;
    margin: 0;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none; }
  .d3-context-menu > ul > li:hover {
    /*background-color: #ced;*/
    color: #8a9; }
  .d3-context-menu > ul > li.is-header,
  .d3-context-menu > ul > li.is-header:hover {
    color: #444; }
  .d3-context-menu > ul > li.is-disabled,
  .d3-context-menu > ul > li.is-disabled:hover {
    background-color: #f2f2f2;
    color: #888;
    cursor: not-allowed; }
  .d3-context-menu > ul > li.is-divider {
    padding: 0px 0px; }
  .d3-context-menu > ul > li.is-divider:hover {
    background-color: #f2f2f2; }
  .d3-context-menu > ul > hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

/* end .d3-context-menu nesting */
