/* tooltip related and any other html styling goes here. styles to control svg with its native attributes treated as variables in head of pathway.js and called inline. */

/*#pathway-widget,
#pathway-widget button,
#pathway-widget select {
  font-family: "courier-new", courier, monospace;
  font-weight: 300;
}*/

#pathway-widget select {
  padding: .5rem;
}

#pathway-widget h3, #pathway-widget th {
  font-weight: 400;
}

#tooltip-container {
    /*font-family: "courier new", courier, monospace;*/
    color: #333;
}

#pathway-widget svg .reaction {
  cursor: pointer;
}

#pathway-widget #group-tip {
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
  padding: 0.5rem 1rem;
  font-size: .85rem;
  z-index: 1000;
  position: absolute;
}
#pathway-widget #group-menu {
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
  padding: 0.5rem 1rem;
  font-size: .85rem;
  z-index: 1000;
  position: absolute;
}

#pathway-widget #pathway-diagram {
  position: relative;
  padding-bottom: 3rem;
}

#pathway-widget #pathway-diagram button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

#tooltip-container {
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: .85rem;
}
#tooltip-container:before,
#tooltip-container:after {
  top: 100%;
  left: 44%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
#tooltip-container:before {
  border-color: #fff;
  border-top-color: #b9b9b9;
  border-width: 11px;
  margin-left: -11px;
}
#tooltip-container:after {
  border-color: transparent;
  border-top-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

#dismiss-text {
    font-size: x-small;
    float: right;
    font-style: italic;
}

#pathway-expression-table {
  position: relative;
}

#pathway-expression-table table {
    /*position:relative*/
    overflow-x: scroll;
    margin: 1rem 0 1rem 195px;
    border-collapse: collapse;
    padding-bottom: 1rem;
}
#pathway-expression-table .gene,
#pathway-expression-table .ec {
    position: absolute;
    top: auto;
    cursor: pointer;
    min-width: 0; /* otherwise mouseover bleeds into right adjacent expression result */
}

#pathway-expression-table .gene {
    left: 0;
    width: 120px;
}
#pathway-expression-table .ec {
    left: 120px;
    width: 75px;
}
#pathway-expression-table th,
#pathway-expression-table td {
    text-align: left;
    /*border: 1px solid #ccc;*/
    box-sizing: border-box;
    padding: .3rem;
    min-width: 7rem;
    max-width: 10rem;
}

/* courtesy Patrick Gillespie, https://github.com/patorjk/d3-context-menu. MIT license in d3-context-menu.js */

.d3-context-menu {
	position: absolute;
	display: none;
	background-color: #fff;
	border-radius: 4px;

	min-width: 150px;
	border: 1px solid #ccc;

	z-index:1200;
}

.d3-context-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	cursor: default;
}

.d3-context-menu ul li {
	padding: 4px 16px;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;
}

.d3-context-menu ul li:hover {
	background-color: #ced;
	color: #fefefe;
}

/*
	Header
*/

.d3-context-menu ul li.is-header,
.d3-context-menu ul li.is-header:hover {
	color: #444;
}

/*
	Disabled
*/

.d3-context-menu ul li.is-disabled,
.d3-context-menu ul li.is-disabled:hover {
	background-color: #f2f2f2;
	color: #888;
	cursor: not-allowed;
}

/*
	Divider
*/

.d3-context-menu ul li.is-divider {
	padding: 0px 0px;
}

.d3-context-menu ul li.is-divider:hover {
	background-color: #f2f2f2;
}

.d3-context-menu ul hr {
	border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* Split pane styling */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

body #pathway-widget {
  height: 100%;
  box-sizing: border-box;
}
.split {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    overflow-y: auto;
    overflow-x: hidden;
}

.content {
    border: 1px solid #C0C0C0;
    box-shadow: inset 0 1px 2px #e4e4e4;
    background-color: #fff;
}

.gutter {
    background-color: transparent;
    box-shadow: inset 0px 0px 10px #dedede;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
    /*background-image: url('../grips/vertical.png');*/
}

.gutter.gutter-vertical {
    cursor: row-resize;
    /*background-image: url('../grips/horizontal.png');*/
}

.split.split-horizontal, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
}
